In [ ]:
string1 = "Good morning"
string1

'Good morning'

In [ ]:
string2 = 'welcome'
string2

'welcome'

In [ ]:
type(string1)

str

In [ ]:
string3 = 'How are you ?"
string3

SyntaxError: ignored

But if a string begins " it should not end with a ' vice versa

In [ ]:
string1

'Good morning'

In [ ]:
print(string1)

Good morning

In [ ]:
string1 
string2

'welcome'

In [ ]:
string1
print(string1)

Good morning

In [ ]:
print(string1)
print(string2)

Good morning
welcome

In [ ]:
print(string1,end = '')
print(string2)

Good morningwelcome

In [ ]:
print(string1,end = ', ')
print(string2)

Good morning, welcome

In [ ]:
string = "Good " + 'Morning'
print(string)

Good Morning

Strings can be added together using + operator

In [ ]:
string = string1 + string2
print(string)

Good morningwelcome

In [ ]:
String1 = "mango"*3
print(String1)

mangomangomango

* can be used to repeated strings

In [ ]:
String2 = "w" + "oo"*14
print(String2)

woooooooooooooooooooooooooooo

In [ ]:
s = string1 - string2

TypeError: ignored

In [ ]:
s = string1 * string2

TypeError: ignored

In [ ]:
s = string1 / string2

TypeError: ignored

In [ ]:
print(string1 + " " + string2)

Good morning welcome

In [ ]:
x=12

In [ ]:
print(x)

12

In [ ]:
print("There are "+ x + "months in a year")

TypeError: ignored

The code here is wrong because you can't add an integer and a string together

In [ ]:
print("There are " + str(x) + " months in a year ")

There are 12 months in a year

**str(x)** is used to convert integer value x to a string so that it can be added with other strings

In [ ]:
type(str(x))

str

In [ ]:
name = input()

Erin

In [ ]:
name = input("Enter your name:")

Enter your name:Erin

input() is a inbuilt function to recieve the value inputed by the user using keybord

The value returned by input() function is a string

In [ ]:
print("Hello")
name  = input("Enter your name: ")

Hello
Enter your name: Erin

In [ ]:
print("Welcome "+name)
age = input("How old are you, "+ name +"? ")

Welcome Erin
How old are you, Erin? 19

In [ ]:
print("So you are "+str(age*12)+" months old!")

So you are 191919191919191919191919 months old!

In [ ]:
print("So you are "+str(int(age)*12)+" months old!")