<a href="https://colab.research.google.com/github/Cap10N3m0/PythonRigWorkshop/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise will be assigning values to variables.

In [ ]:
x = 5

Here, we assigned a variable called 'x' with an integer value 5 with the help of '=' operator

In [ ]:
x

5

The above code prints the value stored in the variable x, in this case it's 5

In [ ]:
x = 1

In the above code we have updated the value of variable x to integer value 1

In [ ]:
x

1

The above code prints the value stored in the variable x, in this case it's 1

In [ ]:
x = x + 3
x

4

In the above code the value of x is updated to value, which is greater than x by a value of 3

In [ ]:
type(x)

int

The above code displays the type of data stored in the variable x, here its an integer type of data

In [ ]:
y = 3.14
type(y)

Here we have assigned y to a float value of 3.14, and displayed its type

In [ ]:
z = x + y

The above code we have added the values of x and y, and stored that value into a new variable called z

In [ ]:
z

In [ ]:
type(z)

When a float and integer type is added, subtracted, multiplied or divided the result would be a float

In [ ]:
x = 1
x += 1
x

It's common in programming to add 1 to a variable; for instance, x = x + 1. The shorthand for this is to use += as in the above code.
In the same manner, there could be operators such as -=, *=, /=, %=, //= and **= with a similar explanation. You can experiment with them for better understanding.